<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>es_client_id</key>
	<string>21</string>
	<key>es_client_secret</key>
	<string>yUIApjYIkISCfiARblN4rvB3WWQtmAxHmILEXOJv</string>
	<key>es_apple_id</key>
	<string>1584592160</string>
	<key>es_appflyer_dev_key</key>
	<string></string>
	<key>es_gg_client_id</key>
	<string>812939927546-o34tcvnptqp3qf3tabhetdb7j1fp02ev.apps.googleusercontent.com</string>
</dict>
</plist>
